* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;

  color: white;
  background-color: #222831;
}
header {
  height: 20vh;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .Logo {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 70px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  font-size: 30px;
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: white;
}
header ul li a:hover {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-right: rgba(255, 255, 255, 0.2);
 border-bottom: rgba(255, 255, 255, 0.2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.container1 {
  background-color: white;
  height: auto;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-right: rgba(255, 255, 255, 0.2);
 border-bottom: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  margin: 150px;
}
.container1 img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 60px;
}
.container1 .text {
  font-size: 20px;
  margin-right: 50px;
}
.container2 {
  background-color: white;
  height: 250px;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-right: rgba(255, 255, 255, 0.2);
 border-bottom: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 150px;
}
.container2 ul {
  list-style: none;
  font-size: 20px;
}
.container3 {
  background-color: white;
  height: 300px;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-right: rgba(255, 255, 255, 0.2);
 border-bottom: rgba(255, 255, 255, 0.2);
  display: flex;
  
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 150px;
}

.container4 {
  background-color: white;
  height: auto;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-right: rgba(255, 255, 255, 0.2);
 border-bottom: rgba(255, 255, 255, 0.2);
  margin: 150px;
}
.container4 ul {
  height: 150px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.container5 {
  background-color: white;
  height: 400px;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5px);
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-right: rgba(255, 255, 255, 0.2);
 border-bottom: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 150px;

}

.circle2 {
  background-color: #00adb5;
  
  height: 100em;
  width: 100em;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: -50%;
  right: -30%;
  z-index: -1;
  filter:blur(200px) ;
  -webkit-filter:blur(200px) ;
}
.circle3 {
  background-color: #00adb5;
  height: 200em;
  width: 200em;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 40%;
  right: 20%;
  z-index: -1;
  filter:blur(200px) ;
  -webkit-filter:blur(200px) ;
}
ion-icon {
  font-size: 60px;
 margin: 10px;
 color: white;
}

footer {
  text-align: center;
}
